<launch>
    <param name="use_sim_time" value="true"/>

    <param name="tf_b2l_x" value="0"/>
    <param name="tf_b2l_y" value="0"/>
    <param name="tf_b2l_z" value="0"/>
    <param name="tf_b2l_roll" value="0"/>
    <param name="tf_b2l_pitch" value="0"/>
    <param name="tf_b2l_yaw" value="0"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find xchu_slam)/rviz/test.rviz"/>

    <!--    <include file="$(find vehicle_description)/launch/lexus.launch"/>-->
    <!--  <node pkg="tf" type="static_transform_publisher" name="base2gps" args="0 0 0 0 0 0 /base_link /gps 10"/>-->
    <!--  <node pkg="tf" type="static_transform_publisher" name="base2imu" args="0 0 0 0 0 0 /base_link /imu 100"/>-->
    <node pkg="tf" type="static_transform_publisher" name="base2lidar" args="0 0 0 0 0 0 /base_link /rslidar 100"/>

    <!--标定文件-->
    <!-- <include file="$(find common)/launch/static_tf.launch" /> -->
    <!-- <include file="$(find odom_imu)/launch/odom_imu.launch" /> -->

    <node pkg="xchu_slam" type="gnss_odom_node" name="gnss_odom_node" output="screen">
        <param name="imu_topic" value="/imu/data" type="string"/>
        <param name="imu_topic" value="/kitti/oxts/imu" type="string"/>
        <param name="gps_topic" value="/kitti/oxts/gps/fix" type="string"/>
        <param name="use_localmap" value="false" type="bool"/> <!--是否使用点云地图原点 true表示不使用-->
        <!--        <param name="gps_topic" value="/novatel718d/pos" type="str"/>-->

        <param name="origin_longitude" value="114.045642255" type="double"/>
        <param name="origin_latitude" value="22.663029715" type="double"/>
        <param name="origin_altitude" value="59.620000000000005" type="double"/>
    </node>


    <node pkg="xchu_slam" type="xchu_mapping_node" name="xchu_mapping_node" output="screen">
        <!-- <remap from="/odom/imu" to="/odom" /> -->
        <!--        <remap from="/kitti/velo/pointcloud" to="/cloud"/>-->
        <!--    <rosparam file="$(find xchu_slam)/params/test.yaml" command="load" />-->
        <param name="save_dir" value="$(find xchu_slam)/pcd/"/>
        <param name="use_imu" value="false" type="bool"/>
        <param name="use_odom" value="false" type="bool"/>
        <param name="use_gps" value="true" type="bool"/>
        <param name="imu_topic" value="/kitti/oxts/imu" type="str"/>
        <!--        <param name="imu_topic" value="/kitti/oxts/imu" type="str"/>-->
        <!--        <param name="odom_topic" value="/odom/imu" type="str"/>-->
        <param name="odom_topic" value="/golfcar/odom" type="str"/>
        <param name="lidar_topic" value="/kitti/velo/pointcloud" type="str"/>
        <!--        <param name="lidar_topic" value="/lslidar_point_cloud" type="str"/>-->
        <!--        <param name="lidar_topic" value="/top/rslidar_points" type="str"/>-->
        <!--        <param name="gps_topic" value="/novatel718d/pos" type="str"/>-->
        <param name="gps_topic" value="/kitti/oxts/gps/fix" type="str"/>
    </node>

</launch>
